<h1>
  Car
</h1>
<div class='wrapperButton'>
  <%= link_to "Add new car", new_car_path, class: "small-btn create-btn" %>
</div>
<table>
  <thead>
    <tr class='tr'>
      <%Car.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.map(&:humanize).each do |field|%>
        <th><%= field %></th>

      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% Car.all.each do |car| %> 
      <tr class='trBody'>
        <% Car.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.each do |field| %>
        
          <td><%= car.send(field) %></td>
          
        <% end %>
        <%= render partial:'reuseble/edit_delete',locals:{
          edit_path:edit_car_path(car),
          delete_path:car_path(car)}%>
      </tr>
    <% end %>

    
  </tbody>
</table>
