<h1>
  Client
</h1>
<%= link_to "Add new client", new_client_path, class: "small-btn create-btn" %>
<table>
  <thead>
    <tr>
      <%Client.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.map(&:humanize).each do |field|%>
        <th><%= field %></th>

      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% Client.all.each do |client| %> 
      <tr>
        <% Client.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.each do |field| %>
        
          <td><%= client.send(field) %></td>
          
        <% end %>
        <%= render partial:'reuseble/edit_delete',locals:{
          edit_path:edit_client_path(client),
          delete_path:client_path(client)}%>
      </tr>
    <% end %>

    
  </tbody>
</table>
