<h1>
  Current date transaction
</h1>
<div class='wrapperButton'>
  <%= link_to "Add new current date transaction", new_current_date_transaction_path, class: "small-btn create-btn" %>
</div>
<table>
  <thead>
    <tr class='tr'>
      <%CurrentDateTransaction.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.map(&:humanize).each do |field|%>
        <th><%= field %></th>

      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% CurrentDateTransaction.all.each do |current_date_transaction| %> 
      <tr class='trBody'>
        <% CurrentDateTransaction.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.each do |field| %>
        
          <td><%= current_date_transaction.send(field) %></td>
          
        <% end %>
         <%= render partial:'reuseble/edit_delete',locals:{
          edit_path:edit_current_date_transaction_path(current_date_transaction),
          delete_path:current_date_transaction_path(current_date_transaction)}%>
      </tr>
    <% end %>

    
  </tbody>
</table>
