<h1>
  Fuel
</h1>
<%= link_to "Add new gas fuel", new_fuel_path, class: "small-btn create-btn" %>
<table>
  <thead>
    <tr>
      <%Fuel.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.map(&:humanize).each do |field|%>
        <th><%= field %></th>

      <% end %>
       <th></th>
    </tr>
  </thead>
  <tbody>
    <% Fuel.all.each do |fuel| %> 
      <tr>
        <% Fuel.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.each do |field| %>
        
          <td><%= fuel.send(field) %></td>
          
        <% end %>
        <%= render partial:'reuseble/edit_delete',locals:{
          edit_path:edit_fuel_path(fuel),
          delete_path:fuel_path(fuel)}%>
      </tr>
    <% end %>

    
  </tbody>
</table>
