<h1>
  Loyalty_programs
</h1>
<%= link_to "Add new loyalty programs", new_loyalty_program_path, class: "small-btn create-btn" %>

<table>
  <thead>
    <tr>
      <%LoyaltyProgram.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.map(&:humanize).each do |field|%>
        <th><%= field %></th>

      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% LoyaltyProgram.all.each do |loyalty_program| %> 
      <tr>
        <% LoyaltyProgram.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.each do |field| %>
        
          <td><%= loyalty_program.send(field) %></td>
          
        <% end %>
         <%= render partial:'reuseble/edit_delete',locals:{
          edit_path:edit_loyalty_program_path(loyalty_program),
          delete_path:loyalty_program_path(loyalty_program)}%>
      </tr>
    <% end %>

    
  </tbody>
</table>
