<h1>
  Transaction
</h1>
<%= link_to "Add new Transaction", new_transaction_path, class: "small-btn create-btn" %>
<table>
  <thead>
    <tr>
      <%Transaction.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.map(&:humanize).each do |field|%>
        <th><%= field %></th>

      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% Transaction.all.each do |transaction| %> 
      <tr>
        <% Transaction.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.each do |field| %>
        
          <td><%= transaction.send(field) %></td>
          
        <% end %>
        <%= render partial:'reuseble/edit_delete',locals:{
          edit_path:edit_transaction_path(transaction),
          delete_path:transaction_path(transaction)}%>
      </tr>
    <% end %>

    
  </tbody>
</table>
