<h1>
  User_loyalty_programs
</h1>
<%= link_to "Add user loyalty program", new_user_loyalty_program_path, class: "small-btn create-btn" %>
<table>
  <thead>
    <tr>
      <%UserLoyaltyProgram.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.map(&:humanize).each do |field|%>
        <th><%= field %></th>

      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% UserLoyaltyProgram.all.each do |user_loyalty_program| %> 
      <tr>
        <% UserLoyaltyProgram.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.each do |field| %>
        
          <td><%= user_loyalty_program.send(field) %></td>
          
        <% end %>
        <%= render partial:'reuseble/edit_delete',locals:{
          edit_path:edit_user_loyalty_program_path(user_loyalty_program),
          delete_path:user_loyalty_program_path(user_loyalty_program)}%>
      </tr>
    <% end %>

    
  </tbody>
</table>
