<h1>
  User_loyalty_programs
</h1>
<table>
  <thead>
    <tr>
      <%UserLoyaltyProgram.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.map(&:humanize).each do |field|%>
        <th><%= field %></th>

      <% end %>
    </tr>
  </thead>
  <tbody>
    <% UserLoyaltyProgram.all.each do |user_loyalty_program| %> 
      <tr>
        <% UserLoyaltyProgram.column_names.reject { |col| ["id", "created_at", "updated_at"].include?(col) }.each do |field| %>
        
          <td><%= user_loyalty_program.send(field) %></td>
          
        <% end %>
      </tr>
    <% end %>

    
  </tbody>
</table>
